.aboutBox {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 36px;
}

/* Header */
.aboutHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;
}

.aboutHeader h1 {
  font-weight: 600;
  font-size: 3em;
}

.aboutHeader h2 {
  color: var(--subtext);
  font-weight: 500;
  font-size: 1.5em;
}

.aboutHeader span {
  margin-top: 12px;
  letter-spacing: 1px;
  line-height: 24px;
}
