.experienceBox {
  max-width: 600px;
  gap: 24px;
  padding: 15px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;

  border-bottom: 1px dashed var(--text);

  transition: 0.3s;
  overflow: hidden;
}

.experienceBox span {
  color: var(--text);
  font-weight: 600;
}

.experienceBox p {
  color: var(--text);
  letter-spacing: 1px;
  line-height: 24px;
  font-size: medium;
}

.date {
  color: var(--subtext) !important;
}
