.cube {
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform-style: preserve-3d;
  transform: rotateX(-1deg) rotateY(-1deg) rotateZ(-1deg);
  height: var(--SIDE);
  width: var(--SIDE);
}

.inner {
  height: var(--SIDE);
  position: absolute;
  width: var(--SIDE);
  transform-style: preserve-3d;
  background: none;
  border: 1px dashed var(--text);
  border-radius: 100%;
}

/* Spheres */
.sphereOne {
  margin-top: 0px;
  transform: rotateX(0) translateZ(0);
}

.cube .sphereTwo {
  margin-top: 0px;
  transform: rotateY(-90deg) translateZ(0);
}

.cube .sphereThree {
  margin-top: 0px;
  transform: rotateY(45deg) rotateX(45deg) translateY(0);
}

.cube .sphereFour {
  margin-top: 0px;
  transform: rotateY(45deg) rotateX(45deg) translateY(0);
}

.cube .sphereFive {
  margin-top: 0px;
  transform: rotateY(-45deg) rotateX(-45deg) translateY(0);
}

.cube .sphereSix {
  margin-top: 0px;
  transform: rotateY(-45deg) rotateX(45deg) translateY(0);
}
