@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8f7f2;
  --text: #2d2926;
  --link: #888789;
  --subtext: #3423a6;

  /* Hero section */
  --SIDE: 480px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text);
  background: var(--bg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.subText {
  color: var(--subtext);
}
