.circleBox {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 50vh;
}

.circleBg {
  width: 70vh;
  height: 70vh;
  position: fixed;
  bottom: -15vh;
  right: -15vw;

  border: 7px dashed var(--text);
  border-radius: 50%;

  transform: rotate(0deg);
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
